/* --- night --- */
.night {
  background-color: #26282a
}
.night,
.night a:not(.btn),
.night .button>a {
  color: #ddd
}
.night .tpwthwidt .text_235ileA,
.night .tpwthwidt .title_2Cea4o9,
.night .comments-area label {
  color: #bbb
}
.night .text-gray,
.night .comment-body {
  color: #888
}
.night .xe-widget.xe-conversations,
.night #search-text,
.night .search-type input:checked+label,
.night .search-type input:hover+label,
.night .panel,
.night .comments-area {
  background-color: #3d4044
}
.night .s-type-list {
  background-color: #1f2123;
  box-shadow: 0 9px 20px rgba(0, 0, 0, .3)
}
.night .s-type-list:before {
  border-bottom-color: #1f2123
}
.night .magi-day-night label>span {
  color: #fff;
  text-decoration: #fff;
}
